.footer {
    background-color: $footer-color;
    padding: 30px 0;
    margin-top: -10px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    &__copyright {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #FFFFFF;
    }
    &__items {
        width: 820px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__divider {
        width: 1px;
        height: 18px;
        background-color: #C3C3C3;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__icon {
        margin-right: 10px;
        max-width: 20px;
    }
    &__text {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #C3C3C3;
        a {
            color: #ffffff;
            &:hover {
                text-decoration: none;
                color: $main-color;
            }
        }
    }
}
