@media (max-width: 1190px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
    .promo {
        &__title {
            font-size: 40px;
            line-height: 50px;
        }
        &__subtitle {
            font-size: 18px;
        }
        &__list {
            font-size: 18px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 570px;
    }
    .header {
        &__wrapper {
            justify-content: center;
        }
        &__menu {
            position: fixed;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 0;
            right: -100%;
            width: 50%;
            height: 100%;
            padding: 20px 15px;
            background-color: rgba(0, 0, 0, .8);
            transition: 0.6s all;
            font-size: 16px;
            line-height: 35px;
            &_active {
                right: 0;
            }
        }
        &__item {
            padding-right: 0;
        }
        .hamburger {
            display: block;
            position: absolute;
            right: 30px;
            top: 53%;
            transform: translateY(-50%);
            width: 26px;
            height: 12px;
            span {
                display: block;
                height: 2px;
                width: 100%;
                background-color: $main-color;
                margin-bottom: 2px;
                transition: 0.5s all;
            }
            &_active {
                span {
                    margin-bottom: -2px;
                    &:nth-child(1) {
                        transform: translateY(3px) rotate(-45deg);
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                    &:nth-child(3) {
                        transform: translateY(3px) rotate(45deg);
                    }
                }
            }
        }
    }
    .promo {
        background: url('../img/bg.jpg') no-repeat 60%/cover;
        padding-bottom: 150px;
        &__title {
            padding-top: 170px;
            font-size: 35px;
            line-height: 45px;
        }
        &__subtitle {
            margin-top: 50px;
            font-size: 18px;
        }
        &__list {
            font-size: 18px;
        }
        &__btn, &__btn-white {
            margin-top: 50px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .header {
        &__menu {
            width: 100%;
        }
    }
    .promo {
        padding-bottom: 50px;
        &__title {
            font-size: 30px;
            padding-top: 150px;
        }
        &__subtitle {
            font-size: 17px;
        }
        &__list {
            font-size: 17px;
        }
    }
}

@media (max-width: 501px) {
    .promo {
        background: url('../img/bg.jpg') no-repeat 65%/cover;
        &__title {
            font-size: 23px;
            line-height: 35px;
        }
        &__subtitle {
            margin-top: 25px;
            font-size: 15px;
        }
        &__list {
            font-size: 15px;
        }
        &__wrapper {
            justify-content: space-around;
        }
        &__btn, &__btn-white {
            margin-top: 20px;
            margin-right: 0;
            font-size: 10px;
            width: 150px;
        }
    }
}

@media (max-width: 420px) {
    .header {
        &__wrapper {
            justify-content: flex-start;
        }
        .hamburger {
            right: 10px;
        }
    }
    .promo {
        &__title {
            font-size: 18px;
        }
        &__subtitle {
            font-size: 13px;
        }
        &__list {
            font-size: 13px;
        }
        &__btn, &__btn-white {
            width: 130px;
        }
    }
}
