@media (max-width: 1190px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
    .promo {
        &__title {
            font-size: 40px;
            line-height: 50px;
        }
        &__subtitle {
            font-size: 18px;
        }
        &__list {
            font-size: 18px;
        }
    }
    .order {
        &__title {
            font-size: 34px;
        }
        &__text {
            font-size: 13px;
        }
        &__dropdown {
            &-name {
                font-size: 16px;
            }
        }
        &__input {
            &::placeholder {
                font-size: 16px;
            }
        }
        &__range {
            &-text {
                font-size: 16px;
            }
        }
        &__file {
            &-text {
                font-size: 13px;
            }
        }
    }
    .divider {
        width: 60px;
        right: -45px;
        .circle:nth-last-child(-n+2) {
            display: none;
        }
    }
    .footer {
        &__items {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-auto-flow: column;
            grid-row-gap: 10px;
            align-items: center;
            justify-items: start;
        }
        &__divider {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 570px;
    }
    .header {
        &__wrapper {
            justify-content: center;
        }
        &__menu {
            position: fixed;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 0;
            right: -100%;
            width: 50%;
            height: 100%;
            padding: 20px 15px;
            background-color: rgba(0, 0, 0, .8);
            transition: 0.6s all;
            font-size: 16px;
            line-height: 35px;
            &_active {
                right: 0;
            }
        }
        &__item {
            padding-right: 0;
        }
        .hamburger {
            display: block;
            position: absolute;
            right: 30px;
            top: 53%;
            transform: translateY(-50%);
            width: 26px;
            height: 12px;
            span {
                display: block;
                height: 2px;
                width: 100%;
                background-color: $main-color;
                margin-bottom: 2px;
                transition: 0.5s all;
            }
            &_active {
                span {
                    margin-bottom: -2px;
                    &:nth-child(1) {
                        transform: translateY(3px) rotate(-45deg);
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                    &:nth-child(3) {
                        transform: translateY(3px) rotate(45deg);
                    }
                }
            }
        }
    }
    .promo {
        background: url('../img/promo_bg.webp') no-repeat 60%/cover;
        padding-bottom: 150px;
        &__title {
            padding-top: 170px;
            font-size: 35px;
            line-height: 45px;
        }
        &__subtitle {
            margin-top: 50px;
            font-size: 18px;
        }
        &__list {
            font-size: 18px;
        }
        &__btn, &__btn-white {
            margin-top: 50px;
        }
    }
    .order {
        padding-top: 90px;
        padding-bottom: 100px;
        &__title {
            font-size: 30px;
        }
        &__subtitle {
            font-size: 16px;
            margin-top: 20px;
        }
        &__scheme {
            margin-top: 50px;
            grid-template-columns: repeat(3,1fr);
        }
        &__form {
            grid-template: 48px 48px 64px / repeat(2, 1fr);
            grid-auto-rows: 48px;
        }
        &__file {
            &-btn {
                grid-column: 2;
                grid-row: 2;
            }
        }
        &__btn {
            margin-top: 0;
            grid-column: 1/3;
        }
    }
    .divider {
        display: none;
    }
    .footer {
        &__wrapper {
            grid-column-gap: 10px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .header {
        &__menu {
            width: 100%;
        }
    }
    .promo {
        padding-bottom: 50px;
        &__title {
            font-size: 30px;
            padding-top: 150px;
        }
        &__subtitle {
            font-size: 17px;
        }
        &__list {
            font-size: 17px;
        }
    }
    .order {
        padding-top: 50px;
        padding-bottom: 50px;
        &__title {
            font-size: 28px;
        }
        &__scheme {
            margin: 20px 40px 0 40px;
            grid-template-columns: 1fr;
            grid-template-rows: 100px;
            grid-auto-rows: 100px;
            row-gap: 15px;
        }
        &__item {
            align-self: center;
            align-items: center;
            grid-template-columns: 100px auto;
            grid-template-rows: 100px;
            &:before {
                justify-self: start;
            }
        }
        &__text {
            padding-top: 0;
            font-size: 16px;
            max-width: 200px;
        }
        &__form {
            margin-top: 50px;
            grid-template: repeat(4, 48px) 64px / 1fr;
            grid-auto-rows: 48px;
        }
        &__dropdown {
            &-name {
                padding-top: 12px;
            }
        }
        &__range {
            grid-column: unset;
        }
        &__file {
            &-btn {
                grid-column: unset;
                grid-row: 4;
            }
        }
        &__btn {
            grid-column: unset;
        }
    }
    .footer {
        &__wrapper {
            grid-template-columns: none;
            grid-template-rows: 30px auto;
            grid-row-gap: 10px;
            justify-content: center;
        }
    }
}

@media (max-width: 501px) {
    .promo {
        background: url('../img/promo_bg.webp') no-repeat 65%/cover;
        &__title {
            font-size: 23px;
            line-height: 35px;
        }
        &__subtitle {
            margin-top: 25px;
            font-size: 15px;
        }
        &__list {
            font-size: 15px;
        }
        &__wrapper {
            justify-content: space-around;
        }
        &__btn, &__btn-white {
            margin-top: 20px;
            margin-right: 0;
            font-size: 10px;
            width: 150px;
        }
    }
    .order {
        &__title {
            font-size: 20px;
        }
        &__subtitle {
            font-size: 14px;
        }
        &__item {
            grid-template-columns: 80px auto;
            &:before {
                width: 80px;
                height: 80px;
            }
        }
        &__text {
            font-size: 14px;
        }
    }
}

@media (max-width: 420px) {
    .header {
        &__wrapper {
            justify-content: flex-start;
        }
        .hamburger {
            right: 10px;
        }
    }
    .promo {
        &__title {
            font-size: 18px;
        }
        &__subtitle {
            font-size: 13px;
        }
        &__list {
            font-size: 13px;
        }
        &__btn, &__btn-white {
            width: 130px;
        }
    }
    .order {
        &__title {
            font-size: 18px
        }
        &__scheme {
            margin: 20px 0 0 10px;
        }
        &__range {
            &-text {
                flex-direction: column;
            }
        }
    }
    .footer {
        &__copyright {
            font-size: 12px;
        }
        &__text {
            font-size: 11px;
        }
    }
}
